# dependencies
node_modules/
.pnp
.pnp.*

# builds
dist/
build/
out/
.next/
*.tsbuildinfo
next-env.d.ts

# tests / coverage
coverage/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editors / os
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.DS_Store
Thumbs.db

# misc
.vercel
*.pem
